<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title> Boards </title>
  <meta name="description" content="Shows the available boards"/>
</head>
<body>
	
		<div style="text-align:right;">
			<a href="/{{userID}}/settings">Account settings</a>
			<a href="/">Logout</a>
		</div>
		<div>
		<h1 style="text-align:center;">Welcome {{name}}!</h1>
	<div>  
		<table id = "all-boards">
			
			{%for board in boards%}
			<tr>
				<td><a href="/board/{{board.id}}">{{board.name}}</a></td>
				<td>
				<a href="/board/{{board.id}}/update">Edit</a>
				<a href="/board/{{board.id}}/delete" onclick="return confirm('Are you sure? All lists along with cards will be lost')">Delete</a>
				</td>
			
			</tr>
			{%endfor%}
		</table>
		<p align="center">
		<a href="/{{userID}}/addBoard">+Add Board</a></p>
			
			
	</div>



</body>
</html>
