<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title> Add List</title>
  <meta name="description" content="This gives form to create new list"/>
</head>
<body {%if alert=='t' %} onload=" alert('List \'{{name}}\' already exist') "{%endif%}>
	<div id="intro">   
		<h1> New List </h1>
	</div>
	<form action="/list/{{boardID}}/new" method="POST" id="create-list-form">
		<div>
			<label>Name:</label>
			<input type="text" name="name" {%if alert=='t' %}value={{name}}{%endif%}required />
		</div>
		
		
		<div>
			<input type="submit" value = "Submit">
		</div>
	</form>
	
</body>
</html>
