<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title> Summary </title>
  <meta name="description" content="This renders summary page"/>
  <style>
          .row {
		  display: flex;
		}

		.column {
		  flex: 50%;
		}
       </style>
</head>
<body>
	<a href="/board/{{boardID}}">Back to Board</a>
	<div id="intro"> 
		{%if total>0%}
		<div style="border: none;padding:15px;">
			Select list :<br>
			<form action="/{{ boardID }}/summary" method="POST" id="detail-list-form">
				
				{% for list in lists %}
					<div>
					<input type="radio" name="listID" value="{{list.id}}" {% if list.id==listID %}checked {%endif%} />
					<label>{{list.name}}</label>
					</div>
				{%endfor%}
				
				
				<div>
				<input type="submit" value = "Submit"> <a href="/{{boardID}}/summary">Clear</a>
				</div>
			</form>
		</div>
		{%endif%}
		{%if listID>-1 %}<div style="border: none;padding:15px;">
			<h2>{{list}}</h2>
		</div>
		{%endif%}
		{% for i in tasks %}
			<b>
			{% if i=='todo'%}
				<div style="border: none;padding:15px;color:blue;">
					Tasks pending
			{% elif i=='dlcross'%}
				<div style="border: none;padding:15px;color:red;">
					Tasks pending and late
			{% elif i=='ontime'%}
				<div style="border: none;padding:15px;color:rgb(0,150,0);">
					Done
			{% else %}
				<div style="border: none;padding:15px;color:rgb(150,146,0);">
					Done late
			{%endif%} : {{ tasks[i]|length }} </b><br>
			{% for card in tasks[i] %}
				{%if listID==-1 %}{{ card.ldetail.name }} : {%endif%}{{ card.title }}
				<br>
			{%endfor%}
			</div>
			
			
		{%endfor%}
	</div>
	{%if total>0%}
	<div>
		<img src="/static/pieTasks.jpg">
	</div>
	{%endif%}
	
</body>
</html>
