<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title> Update List </title>
  <meta name="description" content="This updates existing list"/>
</head>
<body {%if alert=='t' %} onload=" alert('List \'{{name}}\' already exist') "{%endif%}>
		<form action="/{{boardID}}/list/{{ list.id }}/update" method="POST" id="update-list-form">
			<div>
			<label>Name:</label>
			<input type="text" name="name" value="{{list.name}}" rquired />
			</div>
			<div>
			<input type="submit" value = "Submit">
			</div>
		</form>

</body>
</html>
